dataset/**hdf5
dataset/**zip
# dataset/**pd
notebooks/.ipynb_checkpoints/**
.ipynb_checkpoints/**
**__pycache__**
build
helper/deproject/deproject.c
deproject.cpython-37m-darwin.so
helper/projection/projection.c
projection.cpython-37m-darwin.so
logs/*
